@model Kurs
@{
ViewData["Title"] = "Kurs Kayıt";
}
<h2>Kurs Ekle</h2>
<div class="form-group">
    <form asp-controller="Kurs" asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Baslik" class="form-label">Kurs Başlık</label>
            <input asp-for="Baslik" class="form-control">
        </div>

        <button type="submit" class="btn btn-secondary">Ekle</button>
    </form>
</div>